* {

}

.header {
  color: white;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_search{
  padding-left: 10px;
}

.searchInput{
  height: 30px;
  width: 600px;
}

.logo{
  object-fit: cover;
}

.header_nav{

  padding-left: 10px;
  display: flex;
  justify-content:flex-end;
  gap: 30px;
}

.header__basketCount{
  color: aliceblue;

}